.header {
    height: 140px;
    background-color: black;
}

.header-title {
    padding-top: 40px;
    color: white;
    font-size: 36px;
    text-align: left;
}

.header-photo {
    height: 140px;
}